{nil
 #{"Iron Crown" "Team. Work." "Live Die Live"
   "Wild Frontier Level: Season 1" "Account Level" "Shadow Slayer"
   "Shadow Master" "Aftermarket Dealer" "Lost Treasures Master"
   "Club Victory" "Shadow Guardian" "Shadow Royale"
   "Assimilation Level: Season 4" "Year 2 Anniversary" "Airdrop Downer"
   "Fight or Fright" "Lost Treasures Explorer" "Grand Soiree"
   "Holo-Day Bash 2020" "Horizon's Test Subject" "Pain Train Conductor"
   "Variety Show" "Black Lives Matter" "Holo-Day Survivor" "Baller"
   "Fortune's Favor Level: Season 5"
   "You're Tiering Me Apart: Ranked Season 6" "Fashionista"
   "System Override" "Aftermarket Professional"
   "Year 1 Anniversary III" "Meltodown Level: Season 3"
   "Feeding Frenzy" "Airdrop Damager" "Track Master" "Smolfinder Here"
   "Powers of Two" "Lost Treasures" "Mozam-Beast" "Flawless Club 2"
   "Year 1 Anniversary II" "Warlord" "Grand Soirée"
   "Mayhem Level: Season 8" "Wild Frontier Champion" "Valentine's Play"
   "Respawn Entertainment Developer" "Voidwalker" "Origin Access"
   "You're Tiering Me Apart: Ranked Season 7" "Banner Legend"
   "Wild Frontier animated" "Ascension Level: Season 7" "Glory Seeker"
   "Lost Treasures Expeditioner"
   "You're Tiering Me Apart: Ranked Season 4"
   "You're Tiering Me Apart: Ranked Season 2" "Flawless Club 1"
   "Lost Treasures Scout" "Airdrop Master"
   "You're Tiering Me Apart: Ranked Season 3" "The Old Ways" "Founder"
   "Boosted Level: Season 6" "Year 1 Anniversary I"
   "Aftermarket Master" "Group Theatrics" "Club Player"
   "Fight or Fright 2020" "Aftermarket Assassin" "Fight Night"
   "Legendary Hunt" "Ticket Puncher"
   "You're Tiering Me Apart: Ranked Season 5" "Master Of All"
   "Battle Charge Level: Season 2" "Fully Kitted" "Pack Victory"
   "Elite Streak" "Club Legacy" "No Witnesses" "Well-Rounded"
   "Elite 888" "Holo-Day Master" "Aftermarket" "Airdrop Ace"
   "Nessie's Big Day" "Shadow Champion"},
 "Revenant"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Rapid Elimination" "Flawless Victory 2" "Revenant's Wake"
   "Reinforcement Recall" "Shot Caller" "Revenant's Wrath"
   "Apex Revenant" "Double Duty"},
 "Lifeline"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Angel Struck" "Triple Triple"
   "Assassin" "Rapid Elimination" "Flawless Victory 2"
   "Imperial Lifeline" "Apex Lifeline" "Lifeline's Wrath"
   "Reinforcement Recall" "Shot Caller" "Elite Lifeline" "Double Duty"
   "Lifeline's Wake"},
 "Caustic"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Caustic's Wake"
   "Assassin" "Apex Caustic" "Rapid Elimination" "Flawless Victory 2"
   "Reinforcement Recall" "Shot Caller" "Double Duty"
   "Caustic's Wrath"},
 "Gibraltar"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Apex Gibraltar" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Rapid Elimination" "Flawless Victory 2" "Reinforcement Recall"
   "Shot Caller" "Gibraltar's Wake" "Gibraltar's Wrath" "Double Duty"
   "Making Waves"},
 "Fuse"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Fuse's Wake" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Rapid Elimination" "Flawless Victory 2" "Reinforcement Recall"
   "Shot Caller" "Apex Fuse" "Fuse's Wrath" "Double Duty"},
 "Rampart"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Apex Rampart" "Rapid Elimination" "Flawless Victory 2"
   "Rampart's Wake" "Reinforcement Recall" "Shot Caller"
   "Rampart's Wrath" "Double Duty"},
 "Pathfinder"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Imperial Pathfinder" "Deadeye" "Triple Triple"
   "Apex Pathfinder" "Assassin" "Rapid Elimination" "Pathfinder's Wake"
   "Flawless Victory 2" "Elite Pathfinder" "Lone Bot"
   "Pathfinder's Wrath" "Reinforcement Recall" "Shot Caller"
   "Double Duty"},
 "Wraith"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Wraith"
   "Apex Predator" "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "Wraith's Wrath" "No One Left Behind" "Deadeye" "Triple Triple"
   "Assassin" "Wraith's Wake" "Rapid Elimination" "Flawless Victory 2"
   "Imperial Wraith" "Reinforcement Recall" "Shot Caller"
   "Double Duty"},
 "Mirage"
 #{"Headshot Hotshot" "Mirage's Wake" "Flawless Victory 1"
   "Apex Predator" "The Legacy Continues" "Mirage's Wrath" "Hot Streak"
   "Elite Mirage" "Squad Wipe" "No One Left Behind" "Deadeye"
   "Triple Triple" "Assassin" "Rapid Elimination" "Flawless Victory 2"
   "Reinforcement Recall" "Shot Caller" "Imperial Mirage" "Apex Mirage"
   "Double Duty"},
 "Bangalore"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Bangalore's Wake" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Apex Bangalore" "Rapid Elimination" "Flawless Victory 2"
   "Reinforcement Recall" "Shot Caller" "Double Duty"
   "Bangalore's Wrath"},
 "Wattson"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Wattson's Wake" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Doubly Duty" "Triple Triple"
   "Assassin" "Rapid Elimination" "Flawless Victory 2"
   "Reinforcement Recall" "Shot Caller" "Wattson's Wrath"
   "Apex Wattson"},
 "Loba"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Loba's Wrath" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Loba's Wake" "Rapid Elimination" "Flawless Victory 2" "Apex Loba"
   "Reinforcement Recall" "Shot Caller" "Double Duty"},
 "Horizon"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Rapid Elimination" "Horizon's Wrath" "Flawless Victory 2"
   "Horizon's Wake" "Reinforcement Recall" "Apex Horizon" "Shot Caller"
   "Double Duty"},
 "Crypto"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Hot Streak" "Apex Crypto" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Crypto's Wake"
   "Assassin" "Rapid Elimination" "Flawless Victory 2"
   "Reinforcement Recall" "Shot Caller" "Crypto's Wrath"
   "Double Duty"},
 "Bloodhound"
 #{"Headshot Hotshot" "Bloodhound's Wake" "Flawless Victory 1"
   "Apex Predator" "The Legacy Continues" "Hot Streak" "Squad Wipe"
   "No One Left Behind" "Deadeye" "Triple Triple" "Assassin"
   "Rapid Elimination" "Flawless Victory 2" "Apex Bloodhound"
   "Reinforcement Recall" "Shot Caller" "Tormenter"
   "Bloodhound's Wrath" "Imperial Bloodhound" "Double Duty"},
 "Octane"
 #{"Headshot Hotshot" "Flawless Victory 1" "Apex Predator"
   "The Legacy Continues" "Imperial Octane" "Hot Streak" "Venomous"
   "Squad Wipe" "No One Left Behind" "Deadeye" "Triple Triple"
   "Assassin" "Rapid Elimination" "Flawless Victory 2" "Octane's Wrath"
   "Reinforcement Recall" "Shot Caller" "Apex Octane" "Double Duty"
   "Octane's Wake"}}
