{"Revenant"
 #{"Ritualistic" "Veiled Threat" "Rookie Card" "Entombed" "Interlock"
   "Tessenjutsu" "Networked" "Double-Edged" "Edge of Sanity" "Hydralic"
   "Shades of the Past" "Drip Feed" "Element of Surprise" "Hivemind"
   "Slice and Dice" "Death Tuner" "Silent Assassin" "All-Seeing"},
 "Lifeline"
 #{"Rookie Card" "Clear!" "Feel the Beat" "Car Package" "Star"
   "Good Medicine" "Surgical" "Perfect Execution" "Tools of the Trade"
   "Temperature Rising" "Stripe 3" "Search and Rescue" "Pink"
   "Called Shots" "Love" "Patched Up" "In Stitches" "Shooting Stars"
   "Winged Guardian" "Crystalized Ice" "Pick Me Up"},
 "Caustic"
 #{"Noxious" "Rookie Card" "Breathe Easy" "Failed Emissions"
   "Biochemical Romance" "Research Grant" "Corrosive Agent"
   "Spine Chilling" "Gas Powered" "Watcher" "Fuming"
   "Cruel and Unusual" "Biohazard" "Hard Nox Life" "Method in Madness"
   "High Pressure" "Skullcracker" "Chemistry" "Last Rites"},
 "Gibraltar"
 #{"Rookie Card" "Protective Element" "Brick and Mortars" "Rage"
   "Deep Blue" "Megalodon" "Burnout Legend" "Serene" "Tracks"
   "Power Posturing" "Close Combat" "Full Steam" "Catch of the Day"
   "Slow and Steady" "Cage Match" "Brilliant Split" "Razor Sharp"
   "APEX Projection" "Velvet" "Coat of Arms"},
 "Fuse"
 #{"Rookie Card" "Flying Tigers" "Chicken Dinner" "Salvation of Salvo"
   "Scorched" "Don't Fret" "Bombs Away" "Hot Seat" "Flavor Wave"
   "Dress Code" "Over Flow" "Mortar Strike" "Occupational Hazard"
   "Welded Shut" "With a Bang" "Campfire Legend"},
 "Rampart"
 #{"Rookie Card" "Midnight Oil" "Groove Chamber" "Custom Built"
   "Orna-metal" "Open For Business" "Bloom" "Shifting Gears"
   "Reinforced" "Spray Pattern" "Teardrop" "Refined Fineries"
   "Tread Lightly" "Ride or Die" "Precision Cut" "Pit Lane"},
 "Pathfinder"
 #{"Motherboard" "Rookie Card" "Universal" "Anchor Bias"
   "Sword in the Stone" "Gyroscope" "Open Cans" "Circle of Life"
   "Onward" "Accomplished" "Changing Gears" "Treasure Trove"
   "Energized" "Tixels" "Robo-Lisk" "Direct Current" "Disco Tech"
   "Hazardous" "Third Kind" "Connection Established" "Anchors Away"},
 "Wraith"
 #{"Rookie Card" "Machine Elves" "Wave" "Kunai Fighter" "Intergalactic"
   "Stripe" "Escape the Trap" "Spirits" "Method to the Madness"
   "On The Prowl" "Violet Tendencies" "Void Shadow" "Inside the System"
   "Void Magic" "Void Blades" "Bound" "Relentless Aggression"
   "Dark to Light" "Acid Rain"},
 "Mirage"
 #{"Rookie Card" "Court Jester" "Schematic" "Red Beau" "Heartthrob"
   "Tools of Deception" "Throwing Star" "Sleight of Hand"
   "Joker's Wild" "Unfairgrounds" "Swordplay" "Sucker Punch"
   "Midnight Ride" "Mapped Out" "Binary" "Pop Goes the Weasel"
   "Fun Guy" "Ace Up the Sleeve" "Roulette"},
 "Bangalore"
 #{"Danger Close" "Tag, You're It" "Rookie Card" "Armed and Dangerous"
   "True Patriot" "A Cut Above" "Fatigues" "Full Spectrum Dominance"
   "Muscled Up" "Stormchaser" "Fire and Fury" "There It Is"
   "Smoke Signal" "Bulletproof" "Taking the Crown" "Explosive Ordnance"
   "Full Mag" "Frag Out" "Weapon Check" "Lost Track" "Streamlined"},
 "Wattson"
 #{"Rookie Card" "Linked" "=== Unordered ===" "Tesla Coil"
   "Power Transformer" "KEEP OUT" "Lightspeed Bandwidth"
   "Electric Feels" "Electric Flail" "Lightnight in a Bottle"
   "Resonant Frequencies" "Hot Wired" "Toolkit" "Static Schematics"
   "Flying Colors" "On Lockdown" "Eye on the Ring" "Feel-a-ments"
   "Angular Momentum" "Data Processor"},
 "Loba"
 #{"Rookie Card" "Laced Up" "Fire and Desire" "Sleek as Silver"
   "Alpha Dog" "Beautiful Game" "Green with Envy" "Legacy"
   "Leader of the Pack" "Moonlit Getaway" "Midnight Ride" "Big Fish"
   "Now You See It" "Royal Shade" "Carnival" "Smokey Eye"
   "Business Network" "Diamond Encrusted"},
 "Horizon"
 #{"Rookie Card" "NEWT's Cradle" "Universal Blueprint" "Lost in Space"
   "Tessellate" "First Class" "Precious Cargo" "Caffeinated Chemistry"
   "Containment Unit" "Station Commander" "Energy Investigation"
   "A Friend Indeed" "Starshine" "Gravitational Pull"
   "Astrodial Mischief" "Don't Try This At Home"},
 "Crypto"
 #{"Lift Off" "Rookie Card" "Reroute" "Gated" "Augmented Reality"
   "Wear and Tear" "Key Card" "Cyber Ninja" "Warning" "Test Pilot"
   "Expedition" "Cord Cutter" "Ghost Dance" "Interconnected"
   "Air Traffic Control" "DDoS" "Mesh"},
 "Bloodhound"
 #{"Fortune Hunter" "Rookie Card" "Quoth the Raven" "Lost Woods"
   "Armed and Dangerous" "Hypnotic" "Ready to Strike" "Warning Signs"
   "Bear Trap" "Deep Blue" "Wild Tracker" "Folded Pressure"
   "Killer Instincts" "Pyramids" "True Hunter" "Jungle Hunt"
   "Exploration" "Bones" "Deep Discovery" "Boneyard Bound"
   "Legend of the West" "Stark" "Adaptable" "Feeling Impish"},
 "Octane"
 #{"Rookie Card" "Big Ups" "Deep Dive" "Publicity Stunt" "Momentum"
   "Zip By" "Fuel Injected" "Admiral Acceleration" "Hare Raiser"
   "Blade Racer" "Street Fight" "Air Show" "DJ Stim"
   "Successful Launch" "Plans" "Rock" "Outsider" "High Performace"
   "Top Rider" "Shark Teeth"}}
