{nil #{nil},
 "Revenant"
 #{"Don't bother trying to find me" "Make it out of this alive"
   "I don't need souveniers" "Your championships are meaningless"
   "That's the sweet aroma of fear" "My favorite part"
   "I look forward to meeting you all"
   "I plan on getting under your skin"
   "Last legends looked hopeful too" "Like lambs to a slaughter"
   "I'm going to kill you today" "There's still time to run"
   "Why you fear the dark" "Look at all the new additions to my list"
   "I'm not gonna make it quick" "Get a good look"
   "Like cattle being herded" "You've all been marked for death"
   "Have you said your goodbyes?"
   "Ever get the feeling you're not alone?"
   "Look at all the skin suits"},
 "Lifeline"
 #{"Quit your whinging and fight" "Ain't afraid of you"
   "You ain't that bright" "Bring it" "You know what's scary?"
   "Wanna be hear?" "I've seen it all" "All good for me"
   "We all got each other" "Champion, challenger"
   "Open season. Let's go" "Looking at a fighter"
   "Takes a lot to take me out" "You better not romp with me"
   "I'd watch out for my squad" "Bleed, patch, and keep moving"
   "Accept it" "Stay out of my way" "Ajay Che's comin' through"
   "Remember this face" "Don't come easy" "Move it or quit"},
 "Caustic"
 #{"You and I are not equals" "Opening season. Very well"
   "Close combat gets messy" "You'll wish the end came sooner."
   "It all ends the same way..." "Join my experiment below."
   "A deterministic end will find you below."
   "Intelligence is a dying breed..."
   "I look forward to getting my hands on you"
   "I linger on those final moments."
   "The kill is more important than the prize." "Watch for my traps..."
   "Science is precise..." "Test me." "I have no regretsx"
   "I will not apologize..." "Life is meant to die..."
   "A quick death is so... boring." "My methods" "Know your place..."
   "I don't relish the title..." "Patience. Just... patience"
   "Marvelous!"},
 "Bloodhunter"
 #{"The hunt begins" "Honor those who've risen"
   "When we meet, I will slaughter" "May the gods bless you"
   "The true test" "Never disappoint my brethren"
   "Blessings are upon me" "Find me and we will battle"
   "Victory is already written" "The day is mine" "I will slaughter"
   "Honor the Allfather" "The fight honors me" "Prove your strength"
   "A good day to fight" "Your honor to face me"
   "Fight. Win. Fight again" "Every day is a new victory"
   "Only when the gods will it" "The hunter the gods have sent"
   "Prepared for your end?" "Honor is in the challenge"},
 "Gibraltar"
 #{"I'm ready, are you?" "I just do the job" "Just another day"
   "With you, or you're done" "I don't miss" "Try what you want"
   "You better run" "Hurt you more than me" "My shield, my life"
   "I love what I do" "Come on, step up" "Try and move me"
   "Watch out, here I come" "Gibraltar's coming for you"
   "You're finished" "Here we go" "It's opening season"
   "When this is over" "You push..." "Good luck brothers"
   "Great. Good. Wonderful." "I'm like a rock" "It's a beautiful day"},
 "Fuse"
 #{"She's alright, this life"
   "Hang on to ya sangas, lads. She's bound to get messy"
   "Bringin' the noise, boys" "The buck stops with olf mate Fuse"
   "What these bloody games need is a bit of Old School"
   "It's about to get a lil' loud, fellas"
   "Time for a little shock, 'n' awesome"
   "Takin' orders for after the game, fellas"
   "You get more outta life if you don't follow the rules"
   "Here comes a little old school" "Combuts or bust"
   "Righto, time you pups see what an old dog can do"
   "Let's fill this bloody world with craters"
   "Anyone of you lads up for a campfire sing song after?"
   "Don't get ya budgie smugglers in a twist"
   "Let Old Fusey show you how we did it back in the day"
   "Here comes the biff"
   "Back on Salvo they called me 'the Grenado Tornado'"
   "Nothin' like a lil' chaos, ay?"
   "What's a few concussions between mates, ay?"},
 "Rampart"
 #{"I am ready for a fight" "I'm not one to brag but..."
   "Whine on the field or step up"
   "I don't want to be here anymore than you do"
   "It ain't mechanical engineering" "Must be a bit of a drag"
   "I don't think of myself as the best" "Get a new start with Rampart"
   "I'm only doing this to fight and win"
   "Grab your mash. Rampart's in town" "Take a long look at me"
   "Get down there, have fun, and I'll ruin it"
   "I'd like to thank everyone who helped me get here"
   "If you don't like what you see" "You'll all be here soon"
   "Suppose you had skill" "Only way you'd get here is if you kill me"
   "Chin up mates. You just ain't that good"
   "It's alright to be afraid" "No need to get razzled yet"},
 "Pathfinder"
 #{"Hey, that's me" "I'm coming for you, friend" "Losing isn't fun"
   "I swung to this poisition" "It's the season opening"
   "Wow! They chose me" "This sounds like it'll be fun"
   "This will be fun" "I wish all of you" "I work hard for the money"
   "I may be smiling" "Oh, am I supposed to talk?"
   "My squad must be very proud" "I'm excited to fight you"
   "We should hang out" "I am really good at this"
   "It's fun to zipline" "Remember me friends" "I'll high five you all"
   "Hi friends" "You get here by winning"},
 "Wraith"
 #{"It's my turn this time" "I saw this coming"
   "Wanna win? Do what I do" "Come find me"
   "I'm here today... let's do this" "Trust just your eyes"
   "I've been here before" "I'll take you down"
   "Another day, another road" "Try not to blink"
   "Good choice... for me" "Pain... death... nothing phases me"
   "I'm quick and I'll finish this" "Something wrong with your head"
   "Follow my path to win" "It's opening season. Our path is set..."
   "Every decision counts" "I don't fear anything"
   "Thin line between life and death" "A step in the right direction"
   "Sitting around doing nothing" "More than you'll ever know"},
 "Mirage"
 #{"Excited to see you all in the ring" "I'm even better face to face"
   "So proud of myself" "I'm speechless" "This is good, let's fight"
   "Gonna see a lot of me" "The heart of victory"
   "I'm here, you're not" "It's opening season, gotta love it..."
   "I love the spotlight" "You can't forget this face"
   "This is such as honor" "This is like a dream"
   "Didn't get here alone" "My squad's gonna beat up yours"
   "Want advice? Shoot first" "Hope you're ready for some fun"
   "Anyone want to take me out?" "Good squad means good times"
   "I'm just perfect" "Who wants to step up?" "See you in the ring"
   "We're all having a good time"},
 "Bangalore"
 #{"Artillery sounds like music to me" "Get ready for a light show"
   "Make each round count" "Don't matter what you run..."
   "Shooter ready" "Opening season. No time for an FNG"
   "No such thing as auto-aim, ladies" "I'll still beat you"
   "I'm ready today..." "Get ready for a world of hurt"
   "Maybe this time I'll open both eyes"
   "Don't bring a pistol to an artillery fight"
   "Better find me before I find you" "Heads up for a pucker factor"
   "Locked and loaded" "Don't miss. I won't" "Go back to boot camp"
   "I can do it all, your call." "Come get some"
   "You better finish the job" "Death is my language"},
 "Wattson"
 #{"I fight until it hertz" "My adversaries are in for a shock"
   "You're playing in my backyard now" "I did it Papa"
   "I conduct the power" "This is the only life I know"
   "I bring the silence" "The best offense is a strong defense"
   "Papa would be proud of me" "Power is everything"
   "My electric fences will herd you"
   "Electricity I get, people I don't" "Studying has served me well"
   "I'm currently at the top of my game"
   "Didn't expect to see me up here" "My light shines bright"
   "I may not look like a fighter" "Be careful" "Wattage up!"
   "You may be stronger, but I'm smarter" "To me, it's home"},
 "Loba"
 #{"There's a certain elegance to combat" "Beauty is pain"
   "I fought nightmares all my life"
   "I'll take your life and your loot"
   "A powerful woman knows what she wants" "I don't want to kill you"
   "Aww, you think you're tough?" "Come on, let's see if we're a match"
   "I'm the diamon. You're the rough"
   "I know what I like. And I know how to get it"
   "You can't be overdressed or overarmed"
   "Wait until you see what I have in store" "I'll break your heart"
   "Most beautiful things are fragile"
   "Pick out something nice for me, won't you?"
   "I know what I came for"
   "Careful, I'll steal more than just your heart"
   "Riches make the man" "I'm a man eater and a lady killer"
   "I know what you're looking for" "Time to break some hearts"},
 "Horizon"
 #{"Is anyone else here technically over 100 years old?"
   "Data points often don't land" "Particle colliders or R301s"
   "What happens in the Games"
   "Time to introduce a lil' chaos to my research"
   "Violence for Science"
   "I survived being swallowed by the dark heart" "Strap in, Newtie"
   "I expect the results of this will be utterly delightful"
   "Och it's not me you've got to worry about"
   "Anyone else wielding the unfathomable" "In the barracks we're pals"
   "Aye, I love field work" "Don't take what follows too personally"
   "Oh I'm sorry dear" "Ach, dinnae fash yersel 'Cause I'm the best"
   "If not even light can escape the event horizon"
   "Ooh, could get messy, I'm afraid"
   "Ya cannae outplay the Law of Large Numbers"
   "I'll put the kettle on for any survivors"
   "This isn't between you 'n' me"},
 "Crypto"
 #{"Think you can surprise me?" "It's easy to run away"
   "I used to fear many things" "When you have nothing else to lose"
   "Miahnhe" "Mungchunghan jit hajimah"
   "I have been through hell to get here" "Don't be an idiot"
   "You better hope I find you" "Ggeut namyun algoyah"
   "I'm here because I have to be" "If I know who you are"
   "It's easy to get here" "I'm here to break the game"
   "Na junbi mani heso" "You found me" "It's very simple"
   "We are all just data" "Sehsang un humhan goshiya" "Truth is coming"
   "There's only one think you need to know"},
 "Bloodhound" #{"Open season. May the gods bless us"},
 "Octane"
 #{"Season's open amigos" "I make it look easy"
   "You better run - make it interesting"
   "Mira, check out that giant banner of me" "Going up and going down"
   "Run fast, hit fast, win fast" "In the rearview mirror"
   "You all ready for the Octrain?" "My legs are ready to go"
   "Don't worry about my legs getting tired"
   "You think I'm afraid of you?" "Shoutout to all my fans"
   "Time is flying" "Death catches up to everyone"
   "I do this for the rush" "I'm always in the lead"
   "Catch me if you can" "The good news" "Casa de Octane"
   "I like the wind in my hair"
   "See that blur right before you bite it?"
   "By the time you see me coming" "Haven't we landed yet?"}}
