{"Revenant"
 #{"The Equalizer" "The Collection" "Supernatural" "Victory"
   "Simulacrum" "Silencio" "Off The Beaten Path" "Rebirth"
   "System Error" "Reach" "A Day's Work" "Off Switch"
   "Fully Assimilated" "Stalker" "Last Rites"},
 "Lifeline"
 #{"Talking Game" "Let's Go!" "Bad D.O.C." "Connected" "Lounging"
   "Peace" "BFF" "Joy Ride" "Relaxed" "Funslinger" "Shock Sticks"
   "Encore" "Healer" "Daydreamer" "Good Vibes" "Drumroll Please"},
 "Caustic"
 #{"Nevermore" "Bad Medicine" "Surgical" "Think Tank" "Mad Scientist"
   "Not to Be" "Bad Listener" "Peacekiller" "Morning Brew"
   "Unstable Genius" "Last Rites"},
 "Bloodhound"
 #{"One With Nature" "Guarded" "Coming at You" "Existential"
   "Dead to Rights" "Unbreakable Bond" "TilValHall" "Downtime" "Stern"
   "Personal Touch" "Bring It" "Stalk" "Shot Caller" "Blademaster"
   "Respectful" "Glory Hound" "On Target"},
 "Gibraltar"
 #{"Teamwork" "Like a Rock" "Fired Up" "Humble" "Good Company"
   "Just Kidding" "Come On" "Re-Galvanized" "Fight Mode"
   "Intense Focus" "Sky Show" "Victorious" "Incoming"
   "Keeper of the Peace"},
 "Fuse"
 #{"Your Move" "Boomstick!" "Pull!" "True Blue" "Drop Kick" "Bad Apple"
   "Bomb's Away" "Tall Tales" "Alright Mate" "This is a Knife"
   "Five Finger Fillet" "Bonecage Brawler" "Rock 'n Load" "Gun Show"},
 "Rampart"
 #{"Singing in the Storm" "ABC" "Warm Hug" "Ready To Go" "Loyalty"
   "Doctor's Orders" "Blind Fire" "Built Not Bought" "My Little Friend"
   "Pride and Joy" "Meet Sheila" "Bubbly" "Business End"
   "Won't Hurt A Bit" "Get Dunked"},
 "Pathfinder"
 #{"Pumping Iron" "Mondays" "XOXO" "And Beyond" "KO!" "Lights Out"
   "Close Up" "Winning Combination" "Fight Mode" "Pep Talk"
   "For the Birds" "Dropping In" "Malfunction" "Born to Dance"
   "Proud Machine" "Thumbs Up"},
 "Wraith"
 #{"Come at Me" "Power From Within" "The Struggle" "Small Victory"
   "At the Ready" "Mind Games" "Multidimensional" "Before the Rift"
   "Window to the Soul" "Fearless" "Blink of an Eye" "Calm Before"
   "Out of Nowhere" "Strapped" "Channeled Energy"},
 "Mirage"
 #{"Hammer Time" "Target Practice" "Superiority Complex" "Baller"
   "Looking Fierce" "Bunny Ears" "I Got You" "Fowl Play"
   "You Really Love Me" "Big Brother" "Triple Threat" "Solid Wingman"
   "Ta-da!" "Ballet-Boozle" "Abracadabra!"},
 "Bangalore"
 #{"Locked and Loaded" "Dead to Rights" "Self Defense" "Composed"
   "With Pride" "On Patrol" "Smoke Out!" "Drill Sergeant" "Armed"
   "Cool Under Pressure" "At Ease"},
 "Wattson"
 #{"Quantum Mechanic" "On Break" "Comms Check" "Strong Force" "Sorry!"
   "Inside Voice" "Stingin' in the Rain" "Load Imbalance" "Stargazer"
   "Eureka!" "Hotwired" "Curiosity"},
 "Loba"
 #{"Mission Accomplished" "Charmed" "Fashion Forward" "Try Me"
   "The Finer Things" "All Business" "Charming" "Proper Form"
   "Perfect View" "Hard to Get" "Accessorize" "Precious Gift"
   "Jumping to Judgement" "Claws Out" "Catwalk" "Quick Change Artist"
   "Deadly Grace"},
 "Horizon"
 #{"Perfect Partnership" "Little Newtie" "Epiphany"
   "Uplifting Experience" "Agent NV5A" "Dream Catcher"
   "Projectile Accelerator" "Working Together" "Ready For Launch"
   "Head In The Clouds" "To The Stars" "Hyperfixated" "Nailed It"
   "One Small Step"},
 "Crypto"
 #{"Creature of the Night" "Defragged" "Prekill" "Buddy System"
   "Wallflower" "Incognito" "Eavesdrop" "Charging D.O.C"
   "Escape Artist" "Jailbroken" "Idle" "Smooth Operator"},
 "Octane"
 #{"Reckless Abandon" "Marathon" "Hot Mess" "Headrush"
   "Explosive Personality" "Showtime!" "Mad Props" "Epic Fail"
   "Smash Like" "All. Day." "Leg Work" "Double Down" "Spin and Flick"
   "Dashing Through the Snow" "Lucky Headshot" "Lens Flair"}}
