{"Revenant"
 #{"Deathproof" "False Idol" "Fiber Optics" "Limelight" "Labyrinth"
   "Prehistoric" "Unholy Alliance" "Urban Legend" "Killswitch"
   "Midnight" "Rage" "Scribblers" "Heat Sync" "User Friendly"
   "Daemon Hunter" "Gilded Rose" "Hydro" "The Afterlife" "Disruptor"
   "Death Etching" "Unholy Beast" "Green Screen" "Blood Ritual"
   "Wishbone" "Cardinal" "Vino" "Yellowjacket" "Purgatory"
   "Desert Scorpion" "Bloodline" "Shadow on the Sun" "Flamingo"
   "=== Unorderd ===" "Sahara" "Skyward" "Arctic" "Refraction"
   "Original" "Pincushion" "Mandarin" "Arachnophobia" "Evergreen"
   "Sacred Divinity" "Orchid" "Bird of Prey" "Relic of Death"
   "Hack the System" "Clearwater" "Fresh Paint"},
 "Lifeline"
 #{"Fiber Optics" "Limelight" "Coastal Waters" "Lifeline Bling"
   "Balance Shift" "Neural Net" "Tropic Streak" "Green Widow"
   "Pastel Dreams" "Blossom" "Brain Candy" "Rage" "London Calling"
   "Amethyst" "Heat Sync" "Organized Anarchy" "From the Ashes"
   "Daemon Hunter" "Hydro" "Blacklight Classic" "Warlord" "Sizzle Reel"
   "Pain Killer" "Snow Crystal" "Breach and Clear" "Health Drain"
   "Tie Dye" "Cardinal" "Vino" "Yellowjacket" "Vital Signs"
   "Hell Raiser" "Dot Product" "Purgatory" "Desert Scorpion"
   "Peak Performer" "Blockchain Reaction" "Flamingo" "Pirate Queen"
   "Revolutionary" "First Responder" "Sahara" "Self Organized"
   "Judge Jury Executioner" "Skyward" "Woodland Warfare" "Arctic"
   "Original" "Checkered Past" "Worlds Apart" "Mandarin" "Hot Blooded"
   "Evergreen" "Mint Condition" "Orchid" "Electric Synapse"
   "Clearwater" "Guardian Angel"},
 "Caustic"
 #{"Vicious Cycle" "Mad King" "Fiber Optics" "Third Emperor"
   "Limelight" "Illegal Operation" "Prince of Darkness" "Blackheart"
   "Prehistoric" "Cyber Sludge" "Hypnotic" "Interdimensional"
   "Neural Net" "Unholy Alliance" "Midnight" "Future's Past" "Rage"
   "Collider" "Heat Sync" "Absolution" "Daemon Hunter" "Hydro"
   "Sizzle Reel" "Dark Web" "Green Screen" "Necrosis" "Volcanic"
   "Wishbone" "Cardinal" "Vino" "Yellowjacket" "Tiger Blood"
   "Desert Scorpion" "Philosopher's Stone" "Bloodline" "Flamingo"
   "Divine Right" "Sahara" "Skyward" "Snakeskin" "Arctic" "Sixth Sense"
   "Original" "Mandarin" "The Last Laugh" "Evergreen" "Orchid"
   "Clearwater" "Bloodthirsty"},
 "Gibraltar"
 #{"Ornamental Nature" "Fiber Optics" "Limelight" "Golden God"
   "Interdimensional" "Neural Net" "Bunker Buster" "Tropic Streak"
   "Midnight" "Rage" "Blazin' Hot" "Heat Sync" "Redwood Raider"
   "Deep Blue" "Imperial Defender" "Daemon Hunter" "Molten Core"
   "Hydro" "Brudda Bear" "Tight Rope" "Warlord" "Sizzle Reel"
   "Green Screen" "King of the Sea" "Millennium Tusk" "Born in Blood"
   "Gate Keeper" "Volcanic" "Cardinal" "Scales of Justice" "Vino"
   "Yellowjacket" "Gilded" "Dark Side" "Call to Arms" "Purgatory"
   "Ride or Die" "Bloodline" "Tribal Instinct" "Shell-Shocked"
   "Decked Out" "Flamingo" "Sahara" "Monster Mashed" "Skyward"
   "Woodland Warfare" "Arctic" "Gibraltron" "Original" "Mandarin"
   "Evergreen" "Hieroglyph" "Orchid" "Hack the System" "Tartan Fleece"
   "Clearwater" "Shield of the North"},
 "Fuse"
 #{"Fiber Optics" "Limelight" "Tropic Streak" "Running Fatigues"
   "Dread Captain" "Fired Up" "Midnight" "Rage" "Freedom Fighter"
   "Kingslayer" "Amethyst" "Heat Sync" "User Friendly" "Daemon Hunter"
   "Hydro" "Disruptor" "Generation X" "Sizzle Reel" "Tie Dye"
   "Cardinal" "Vino" "Yellowjacket" "Ring Master" "Super Rad"
   "Racing Stripes" "Natural Born Daredevil" "Bang You're Dead"
   "Flamingo" "Sahara" "Skyward" "Snakeskin" "Arctic" "Man-O-War"
   "Original" "Unicornucopia" "Real Steel" "Pincushion" "Mandarin"
   "Art of War" "Copperhead" "Evergreen" "Hack the System" "Clearwater"
   "Old Gold"},
 "Rampart"
 #{"Fiber Optics" "Limelight" "Labyrinth" "Stained Glass"
   "Heritage Pride" "Prowess" "Sari Not Sari" "Premium Finish"
   "Cascade" "Jewelled Casing" "Midnight" "Rage" "Scribblers"
   "Heat Sync" "User Friendly" "Formal Finery" "Daemon Hunter" "Hydro"
   "Blacklight Classic" "Sizzle Reel" "High Brass" "Volcanic"
   "Cardinal" "Vino" "Yellowjacket" "Blooms" "Varsity"
   "Electrochemical" "Flamingo" "Sahara" "Skyward" "Arctic"
   "Critical Path" "Refraction" "Original" "Custom Finish" "Mandarin"
   "Evergreen" "Orchid" "Hack the System" "Clearwater"
   "The Devi You Know"},
 "Pathfinder"
 #{"Limelight" "Memoir Noir" "Neural Net" "Tropic Streak" "Mortal Coil"
   "Head Trip" "Calm Seas" "Angel City Pacer" "Midnight" "Team Lift"
   "Rage" "Omega Point" "Hack The System" "Heat Sync" "User Friendly"
   "Waveracer" "War Machine" "Daemon Hunter" "Hydro" "Wrapped Up"
   "Quicksilver" "Warlord" "Swimming Buddy" "Model P" "Friendly Fire"
   "The Aviator" "Our Powers Combined" "Tie Dye" "SRVN MRVN"
   "Joyfinder" "Wishbone" "Cardinal" "Vino" "Yellowjacket"
   "Desert Scorpion" "Glistened" "Full Throttle" "Circuit Breaker"
   "Bloodline" "Crash Test" "Flamingo" "Sahara" "Skyward"
   "Woodland Warfare" "Arctic" "Original" "Unicornucopia" "Iced Out"
   "Mandarin" "Green Machine" "Sweet 16" "Evergreen" "Orchid"
   "Full Metal Robot" "Tartan Fleece" "Clearwater"},
 "Wraith"
 #{"Fiber Optics" "Vengeance Seeker" "Limelight" "Marble Goddess"
   "Depths of the Void" "Neural Net" "Tropic Streak" "Void Prowler"
   "Quarantine 722" "Airship Assassin" "Protector of the Void"
   "Head Trip" "Queen of Hearts" "High Frequency" "Hellcat" "Midnight"
   "Royal Guard" "Rage" "Wraith's Wrath" "Night Terror"
   "Hack The System" "Forgotten in the Void" "Heat Sync" "Final Sunset"
   "Daemon Hunter" "Hydro" "Disruptor" "Warlord" "Royal Decree"
   "Perfect Soldier" "Overclocked" "Voidwalker" "Cardinal"
   "Scales of Justice" "Vino" "Yellowjacket" "Desert Scorpion"
   "High Class" "The Liberator" "Bloodline" "Phasewalker" "Flamingo"
   "Sahara" "Void Specialist" "Silver Specter" "Self Organized"
   "Skyward" "Woodland Warfare" "Arctic" "Original" "Checkered Past"
   "Backdraft" "Mandarin" "Arachnophobia" "Evergreen" "Perfect Storm"
   "Orchid" "Clearwater"},
 "Mirage"
 #{"Fiber Optics" "Lucky Charmer" "Limelight" "Angel City Hustler"
   "Pit Crew" "Moneymaker" "Hypnotic" "Neural Net" "Urban Legend"
   "Glowing Viral" "Midnight" "Man Made" "Rage" "Heat Sync"
   "The Revenger" "Gone Bananas" "Death Adder" "Seafoam Swindler"
   "Hydro" "Sizzle Reel" "Tie Dye" "Ghost Machine" "Stunt Double"
   "Cardinal" "Vino" "Yellowjacket" "The Prestige" "Super Rad"
   "Solar Flare" "Flamingo" "Convergence" "Sahara" "Red Carpet"
   "Flower Power" "Skyward" "Woodland Warfare" "Arctic" "Original"
   "Unicornucopia" "Mandarin" "Sweet 16" "Evergreen" "Fool's Gold"
   "Mint Condition" "Hieroglyph" "Orchid" "Folk Hero" "Hack the System"
   "Tartan Fleece" "Clearwater" "Lens Flair" "Old Town"},
 "Bangalore"
 #{"Fiber Optics" "Limelight" "Stained Glass" "Neural Net"
   "Radical Action" "Dire Wolf" "La Catrina" "Crimson Queen" "Midnight"
   "Rage" "Kingslayer" "Heat Sync" "Officer Williams" "Blue Chipped"
   "Death Adder" "Daemon Hunter" "Molten Core" "Hydro" "Viceroy"
   "Disruptor" "Sizzle Reel" "Sky Marshal" "Outland Warrior" "Cardinal"
   "Vino" "Yellowjacket" "Purgatory" "Varsity" "Victory Lap"
   "Circuit Breaker" "Flamingo" "Valor" "Sahara" "Fresh Reign"
   "Skyward" "Snakeskin" "Arctic" "Original" "Fire Support"
   "The Enforcer" "Apex Overdrive" "Mandarin" "The Spacewalker"
   "Arachnophobia" "Evergreen" "Mint Condition" "Orchid"
   "Electric Synapse" "Hack the System" "Clearwater"},
 "Wattson"
 #{"Wired for Speed" "Fly-by-Wire" "Ornamental Nature" "Fiber Optics"
   "Industrial Artist" "Limelight" "Dire Wolf" "Unholy Alliance"
   "The Warrior Empress" "Midnight" "Brain Candy" "Rage"
   "Ace of Sparks" "Heat Sync" "Cyber Punked" "Ruby Joules"
   "User Friendly" "Outlands Explorer" "Daemon Hunter" "Hydro"
   "Disruptor" "Winged Menace" "Tie Dye" "Volcanic" "Cardinal" "Vino"
   "Yellowjacket" "Haute Drop" "Current Champ" "Strange Attractor"
   "Bloodline" "Cyber Security" "Vaporwave" "Flamingo" "Sahara"
   "Cloud Computing" "Skyward" "Arctic" "Throwback" "Original"
   "Rocket Scientist" "Silver Age" "Mandarin" "Arachnophobia"
   "Evergreen" "Perfect Storm" "Shocking Stuffer" "Orchid"
   "Hack the System" "Tartan Fleece" "Clearwater" "Fresh Paint"},
 "Loba"
 #{"Fiber Optics" "Limelight" "Labyrinth" "Game Master" "Gold Standard"
   "Off The Record" "Dire Wolf" "Prowess" "Unholy Alliance" "Midnight"
   "Rage" "Scribblers" "Heat Sync" "User Friendly" "Bootlegger"
   "Formal Finery" "Huntswoman" "Daemon Hunter" "Wallflower" "Hydro"
   "Boundless Envy" "Elegante" "Volcanic" "Wishbone" "Cardinal" "Vino"
   "Yellowjacket" "Super Rad" "Racing Stripes" "Bloodline"
   "Alpha Royal" "Flamingo" "Sahara" "Skyward" "Snakeskin" "Arctic"
   "Original" "Mandarin" "Arachnophobia" "Purple Reign" "Evergreen"
   "Orchid" "Hack the System" "Clearwater"},
 "Horizon"
 #{"Dark Matter" "Fiber Optics" "Limelight" "Dire Wolf" "Prowess"
   "High Frequency" "Midnight" "Brain Candy" "Rage" "Collider"
   "Terra Nova" "Heat Sync" "Hypothesis" "Life Cycle" "Solaris"
   "User Friendly" "Death Adder" "Daemon Hunter" "Hydro" "Disruptor"
   "Sizzle Reel" "Royal Decree" "Superunknown" "Cardinal" "Vino"
   "Yellowjacket" "Racing Stripes" "Inverse Polarity"
   "Copper Constellation" "Flamingo" "Golden Boson" "Sahara" "Skyward"
   "Woodland Warfare" "Absolute Zero" "Arctic" "Original" "Field Trip"
   "Mandarin" "Evergreen" "Orchid" "Hack the System" "Clearwater"
   "Neon Stardust"},
 "Crypto"
 #{"Fiber Optics" "Limelight" "Mortal Coil" "High Frequency"
   "Lucky Charm" "Midnight" "Rage" "Scribblers" "Heat Sync"
   "User Friendly" "Rising Phoenix" "Daemon Hunter" "Molten Core"
   "Hydro" "Blue Steel" "Devil's Advocate" "Sizzle Reel" "Fishsticks"
   "Dark Web" "Tie Dye" "Whitelisted" "The Masked Dancer"
   "The Hired Gun" "Cardinal" "Vino" "Yellowjacket" "Blooms"
   "Awoken Fury" "Bloodline" "Flamingo" "Sahara" "Self Organized"
   "Skyward" "Woodland Warfare" "Arctic" "Throwback" "Original"
   "Winters Grasp" "Mandarin" "Evergreen" "Orchid" "Hack the System"
   "Clearwater" "Hype Beast" "Fresh Paint"},
 "Bloodhound"
 #{"Protector of the Patch" "Young Blood" "Fiber Optics" "Limelight"
   "Master of the Hunt" "The Intimidator" "Neural Net" "Raven's Shadow"
   "Tropic Streak" "The Centurion" "Lucky Charm" "Glowing Viral"
   "Gilded Claw" "Midnight" "Royal Guard" "Rage" "Heat Sync"
   "Life Cycle" "Solstice" "Road Warrior" "Hydro" "Tight Rope"
   "Warlord" "Radiant Stalker" "Sizzle Reel" "Arctic Hunter" "Polished"
   "Green Screen" "Sunsetter" "Cardinal" "Scales of Justice" "Vino"
   "Yellowjacket" "The Plague Doctor" "Bloodline" "Hunter's Moon"
   "Wicked Harvest" "Flamingo" "Sahara" "Imperial Warrior" "Skyward"
   "Woodland Warfare" "Snakeskin" "Arctic" "Original" "The Runekeeper"
   "Checkered Past" "Will of the Allfather" "Mandarin" "Evergreen"
   "Orchid" "Timberland" "Hack the System" "Tartan Fleece"
   "Clearwater"},
 "Octane"
 #{"Vicious Cycle" "Ornamental Nature" "Jade Tiger" "Fiber Optics"
   "Limelight" "First String" "Extreme Measures" "The Victory Lap"
   "XL-R8" "Neural Net" "Running Fatigues" "Head Trip" "Prowess"
   "Messenger" "Midnight" "Rage" "Gold Rush" "Heat Sync" "El Tigre"
   "Arachnoid Rush" "Fast Fashion" "Daemon Hunter" "Hydro"
   "Hit and Run" "Glacial Pace" "Tie Dye" "Volcanic" "Cardinal" "Vino"
   "Yellowjacket" "El Diablo" "Sonic Boom" "Racing Stripes"
   "Circuit Breaker" "Bloodline" "Burn Out" "Flamingo" "Dasher"
   "Sahara" "Skyward" "Snakeskin" "Arctic" "Critical Path" "Peel Out"
   "Original" "Red Shift" "Mandarin" "Evergreen" "Whiplash" "Orchid"
   "Speed Demon" "Electric Synapse" "Hack the System" "Clearwater"}}
