{"Revenant"
 #{"Deathproof" "False Idol" "Teal Torment" "Fiber Optics" "Limelight"
   "Labyrinth" "Prehistoric" "Unholy Alliance" "Urban Legend"
   "Killswitch" "Midnight" "Rage" "Scribblers" "Heat Sync"
   "User Friendly" "Daemon Hunter" "Gilded Rose" "Hydro"
   "The Afterlife" "Disruptor" "Death Etching" "Unholy Beast"
   "From The Deep" "From the Deep" "Green Screen" "Frost Ancient"
   "Royal Death" "Blood Ritual" "Wishbone" "Cardinal" "Vino"
   "Yellowjacket" "Purgatory" "Desert Scorpion" "Bloodline"
   "Shadow on the Sun" "Flamingo" "=== Unorderd ===" "Sahara" "Skyward"
   "Arctic" "Refraction" "Original" "Pincushion" "Mandarin"
   "Forged Knight" "Arachnophobia" "Evergreen" "Sacred Divinity"
   "Orchid" "Bird of Prey" "Relic of Death" "Hack the System"
   "Clearwater" "Fresh Paint"},
 "Lifeline"
 #{"Fiber Optics" "Limelight" "Coastal Waters" "Lifeline Bling"
   "Balance Shift" "Neural Net" "Tropic Streak" "Green Widow"
   "Pastel Dreams" "Blossom" "Brain Candy" "Rage" "London Calling"
   "Amethyst" "Heat Sync" "Organized Anarchy" "From the Ashes"
   "Daemon Hunter" "Hydro" "Blacklight Classic" "Neon Dream" "Warlord"
   "Sizzle Reel" "Pain Killer" "Snow Crystal" "Breach and Clear"
   "Health Drain" "Bad to the Bone" "Tie Dye" "Cardinal" "Vino"
   "Yellowjacket" "Vital Signs" "Hell Raiser" "Dot Product" "Purgatory"
   "Desert Scorpion" "Peak Performer" "Blockchain Reaction" "Flamingo"
   "Pirate Queen" "Revolutionary" "First Responder" "Sahara"
   "Self Organized" "Judge Jury Executioner" "Skyward"
   "Woodland Warfare" "Arctic" "Original" "Checkered Past"
   "Rejuvination" "Worlds Apart" "Mandarin" "Hot Blooded" "Evergreen"
   "Mint Condition" "Orchid" "Electric Synapse" "Clearwater"
   "Guardian Angel"},
 "Caustic"
 #{"Vicious Cycle" "Mad King" "Fiber Optics" "Gasbuster"
   "Third Emperor" "Limelight" "Illegal Operation" "Prince of Darkness"
   "Blackheart" "Prehistoric" "Cyber Sludge" "Hypnotic"
   "Interdimensional" "Neural Net" "Unholy Alliance" "Midnight"
   "Future's Past" "Rage" "Collider" "Heat Sync" "Absolution"
   "Chemical Compound" "The Trophy Hunter" "Daemon Hunter" "Hydro"
   "Sizzle Reel" "Geometric Anomaly" "Freezer Burn" "Dark Web"
   "Green Screen" "Dark Cloud" "Necrosis" "Killing Joke" "Volcanic"
   "Wishbone" "Cardinal" "Claustic" "Vino" "Yellowjacket" "Tiger Blood"
   "Desert Scorpion" "Philosopher's Stone" "Bloodline" "Flamingo"
   "Divine Right" "Sahara" "Skyward" "Waste Management" "Snakeskin"
   "Arctic" "Sixth Sense" "Original" "Mandarin" "Bloodshot"
   "The Last Laugh" "Evergreen" "Sweet Dreams" "Orchid"
   "Barrel of Laughs" "Clearwater" "Bloodthirsty"},
 "Gibraltar"
 #{"Ornamental Nature" "Arctic Plates" "Fiber Optics" "Limelight"
   "Golden God" "Interdimensional" "Neural Net" "Bunker Buster"
   "Tropic Streak" "Midnight" "Rage" "Roughneck" "Hardline"
   "Blazin' Hot" "Heat Sync" "Redwood Raider" "Deep Blue"
   "Imperial Defender" "Daemon Hunter" "Molten Core" "Hydro"
   "Brudda Bear" "Tight Rope" "Warlord" "Sizzle Reel" "Green Screen"
   "King of the Sea" "Millenium Tusk" "Millennium Tusk" "Code Red"
   "Born in Blood" "Soft Power" "Gate Keeper" "Volcanic" "Cardinal"
   "Scales of Justice" "Vino" "Yellowjacket" "Gilded" "Dark Side"
   "Call to Arms" "Purgatory" "Ride or Die" "Bloodline"
   "Tribal Instinct" "Shell-Shocked" "Decked Out" "Flamingo" "Sahara"
   "Monster Mashed" "Skyward" "Woodland Warfare" "Arctic" "Gibraltron"
   "Original" "Mandarin" "Evergreen" "Hieroglyph" "Orchid"
   "Hack the System" "Tartan Fleece" "Clearwater"
   "Shield of the North"},
 "Fuse"
 #{"Fiber Optics" "Limelight" "Tropic Streak" "Running Fatigues"
   "Dread Captain" "Fired Up" "Midnight" "Rage" "Freedom Fighter"
   "Kingslayer" "Amethyst" "Heat Sync" "User Friendly" "Daemon Hunter"
   "Tragic Streak" "Hydro" "Disruptor" "Generation X" "Sizzle Reel"
   "Tie Dye" "Cardinal" "Vino" "Yellowjacket" "Ring Master" "Super Rad"
   "Racing Stripes" "Natural Born Daredevil" "Bang You're Dead"
   "Flamingo" "Sahara" "Skyward" "Snakeskin" "Arctic" "Man-O-War"
   "Original" "Unicornucopia" "Real Steel" "Pincushion" "Mandarin"
   "Art of War" "Copperhead" "Evergreen" "Hack the System" "Clearwater"
   "Old Gold"},
 "Rampart"
 #{"Fiber Optics" "Limelight" "Labyrinth" "Stained Glass"
   "Gold Standard" "Heritage Pride" "Prowess" "Sari Not Sari"
   "Premium Finish" "Cascade" "Jewelled Casing" "Midnight" "Rage"
   "Scribblers" "Heat Sync" "User Friendly" "Formal Finery"
   "Daemon Hunter" "Hydro" "Blacklight Classic" "Deep Freeze"
   "Gearhead" "Sizzle Reel" "High Brass" "Volcanic" "Cardinal" "Vino"
   "Yellowjacket" "Blooms" "Varsity" "Electrochemical" "Flamingo"
   "Sahara" "Skyward" "Arctic" "Critical Path" "Refraction" "Original"
   "Custom Finish" "Mandarin" "Evergreen" "Orchid" "Hack the System"
   "Clearwater" "The Devi You Know"},
 "Pathfinder"
 #{"Limelight" "Memoir Noir" "Neural Net" "Tropic Streak" "Mortal Coil"
   "Head Trip" "Calm Seas" "Angel City Pacer" "Midnight" "Team Lift"
   "Rage" "Plastic Fantastic" "BP-1" "Omega Point" "Hack The System"
   "Heat Sync" "User Friendly" "Waveracer" "War Machine"
   "Daemon Hunter" "Hydro" "Wrapped Up" "Quicksilver" "Score Secured"
   "Warlord" "Swimming Buddy" "Model P" "Friendly Fire" "The Aviator"
   "Our Powers Combined" "Tie Dye" "SRVN MRVN" "Joyfinder" "Wishbone"
   "Cardinal" "Vino" "Yellowjacket" "Desert Scorpion" "Glistened"
   "Full Throttle" "Hidden Tracks" "Circuit Breaker" "Bloodline"
   "Crash Test" "Copper Core" "Flamingo" "Sahara" "Skyward"
   "Woodland Warfare" "Arctic" "Pole Position" "Original"
   "Unicornucopia" "Iced Out" "Mandarin" "Green Machine" "Dreadnought"
   "Sweet 16" "Evergreen" "Orchid" "Sunfire Initiate"
   "Full Metal Robot" "Hack the System" "Tartan Fleece" "Clearwater"
   "Bot of Gold"},
 "Wraith"
 #{"Wreath" "Fiber Optics" "Vengeance Seeker" "Limelight"
   "Voices from the Past" "Survivor" "Marble Goddess"
   "Depths of the Void" "Neural Net" "Tropic Streak" "Void Prowler"
   "Quarantine 722" "Airship Assassin" "Protector of the Void"
   "Head Trip" "Queen of Hearts" "Flashpoint" "High Frequency"
   "Emerald Enchantress" "Hellcat" "Midnight" "Royal Guard" "Rage"
   "Wraith's Wrath" "Night Terror" "Roughneck" "Hack The System"
   "Forgotten in the Void" "Heat Sync" "Final Sunset" "Daemon Hunter"
   "Hydro" "Disruptor" "Warlord" "Risen Queen" "Royal Decree"
   "Perfect Soldier" "Overclocked" "Voidwalker" "Mistress of Evil"
   "Cardinal" "Scales of Justice" "Vino" "Yellowjacket"
   "Desert Scorpion" "High Class" "The Liberator" "Bloodline"
   "Phasewalker" "Flamingo" "Sahara" "Void Specialist" "Silver Specter"
   "Self Organized" "Skyward" "Woodland Warfare" "Arctic" "Original"
   "Checkered Past" "Backdraft" "Mandarin" "Arachnophobia" "Bloodshot"
   "Evergreen" "Perfect Storm" "Orchid" "Hack the System"
   "Clearwater"},
 "Mirage"
 #{"Fiber Optics" "Lucky Charmer" "Fancy Schmancy" "Limelight"
   "Angel City Hustler" "Pit Crew" "Moneymaker" "Holo Man" "Hypnotic"
   "Neural Net" "Boogie Down" "The Wisecracker" "Fired Up"
   "Urban Legend" "Glowing Viral" "Midnight" "Man Made" "Rage"
   "Heat Sync" "The Revenger" "Gone Bananas" "Death Adder"
   "Captain Bamboozle" "Seafoam Swindler" "Snake Charmer" "Hydro"
   "Center Stage" "Neon Dream" "Solar Flair" "Outlaw" "Sizzle Reel"
   "Tie Dye" "Ghost Machine" "Stunt Double" "Cardinal" "Vino"
   "Yellowjacket" "The Prestige" "Super Rad" "Solar Flare" "Flamingo"
   "Convergence" "Sahara" "The Dark Artist" "Red Carpet" "Flower Power"
   "Skyward" "Woodland Warfare" "Arctic" "Ocean Groove" "Original"
   "Unicornucopia" "Mandarin" "Man Made Man" "Sweet 16" "Evergreen"
   "Fool's Gold" "Mint Condition" "Hieroglyph" "Orchid" "Folk Hero"
   "Hack the System" "Tartan Fleece" "Clearwater" "Lens Flair"
   "Old Town"},
 "Bangalore"
 #{"Fiber Optics" "Limelight" "Stained Glass" "Neural Net"
   "Killing Machine" "Radical Action" "Dire Wolf" "La Catrina"
   "Dino Dynamo" "Crimson Queen" "Midnight" "Rage" "Kingslayer"
   "Heat Sync" "Officer Williams" "Blue Chipped" "Death Adder"
   "Daemon Hunter" "Molten Core" "Hydro" "Viceroy" "Disruptor"
   "Counter-culture" "Generation X" "Royal Reign" "Sizzle Reel"
   "Full Metal Jacket" "Sky Marshal" "Outland Warrior" "Cardinal"
   "Vino" "Yellowjacket" "Purgatory" "Varsity" "Soldado de la Muerte"
   "Stay Frosty" "Killer B" "Hidden Tracks" "Victory Lap"
   "Circuit Breaker" "Flamingo" "Valor" "Sahara" "Fresh Reign"
   "Skyward" "Snakeskin" "Arctic" "Cherry Bomb" "Original"
   "Fire Support" "The Enforcer" "Apex Overdrive" "Mandarin"
   "The Spacewalker" "Arachnophobia" "Evergreen" "Mint Condition"
   "Orchid" "Dressed To Impress" "Fire with Fire" "Nerves of Steel"
   "Electric Synapse" "Hack the System" "Clearwater"},
 "Wattson"
 #{"Bionic Wonder" "Dinomite" "Wired for Speed" "Fly-by-Wire"
   "Ornamental Nature" "Fiber Optics" "Industrial Artist" "Limelight"
   "Static Maiden" "Dire Wolf" "Unholy Alliance" "The Warrior Empress"
   "Midnight" "Brain Candy" "Rage" "Ace of Sparks" "Heat Sync"
   "Cyber Punked" "Ruby Joules" "User Friendly" "Outlands Explorer"
   "Daemon Hunter" "Hydro" "Disruptor" "Hot Rod" "Winged Menace"
   "Tie Dye" "Volcanic" "Cardinal" "Vino" "Yellowjacket" "Haute Drop"
   "Current Champ" "Strange Attractor" "Bloodline" "Cyber Security"
   "Vaporwave" "Flamingo" "Sahara" "Cloud Computing" "Skyward" "Arctic"
   "Throwback" "Original" "Rocket Scientist" "Silver Age" "Mandarin"
   "Arachnophobia" "Evergreen" "Perfect Storm" "Sweet Dreams"
   "Shocking Stuffer" "Orchid" "Hack the System" "Tartan Fleece"
   "Clearwater" "Fresh Paint"},
 "Loba"
 #{"Fiber Optics" "Limelight" "Labyrinth" "Game Master" "Gold Standard"
   "Off The Record" "Dire Wolf" "Prowess" "Unholy Alliance" "Midnight"
   "Rage" "Torrent" "Scribblers" "Heat Sync" "User Friendly"
   "Bootlegger" "Formal Finery" "Huntswoman" "Daemon Hunter"
   "Wallflower" "Hydro" "Boundless Envy" "Banshee Queen" "Pack Hunter"
   "Elegante" "Volcanic" "Wishbone" "Cardinal" "Vino" "Yellowjacket"
   "Super Rad" "Racing Stripes" "Bloodline" "Alpha Royal" "Red Handed"
   "Flamingo" "Sahara" "Self Reflection" "Skyward" "Snakeskin" "Arctic"
   "Ocean Groove" "Original" "Mandarin" "Arachnophobia" "Purple Reign"
   "Crystalline Perfection" "Evergreen" "Orchid" "Hack the System"
   "Clearwater"},
 "Horizon"
 #{"Dark Matter" "Fiber Optics" "Limelight" "Dire Wolf" "Prowess"
   "High Frequency" "Flux Capacity" "Midnight" "Brain Candy" "Rage"
   "Collider" "Terra Nova" "Heat Sync" "Hypothesis" "Life Cycle"
   "Solaris" "User Friendly" "Death Adder" "Daemon Hunter" "Hydro"
   "Disruptor" "Sizzle Reel" "Royal Decree" "Superunknown" "Cardinal"
   "Vino" "Yellowjacket" "Racing Stripes" "Inverse Polarity"
   "Copper Constellation" "Flamingo" "Golden Boson" "Sahara" "Skyward"
   "Woodland Warfare" "Absolute Zero" "Arctic" "Original" "Field Trip"
   "Mandarin" "Evergreen" "Orchid" "Hack the System" "Clearwater"
   "Neon Stardust"},
 "Crypto"
 #{"Sweet Synergy" "Fiber Optics" "Limelight" "Seeker of Knowledge"
   "Mortal Coil" "Deadly Byte" "High Frequency" "Totemic Might"
   "Lucky Charm" "Midnight" "Rage" "Neon Winter" "Scribblers"
   "Heat Sync" "Fuzzy Logic" "User Friendly" "Rising Phoenix"
   "Cool Operator" "Hallowed Spirit" "Daemon Hunter" "Molten Core"
   "Hydro" "Blue Steel" "Devil's Advocate" "Sizzle Reel"
   "Midnight Cipher" "Fishsticks" "Dark Web" "Azure Gaze" "Tie Dye"
   "Whitelisted" "The Masked Dancer" "The Hired Gun" "Cardinal" "Vino"
   "Yellowjacket" "Blooms" "Awoken Fury" "Bloodline" "Flamingo"
   "Sahara" "Self Organized" "Skyward" "Woodland Warfare" "Hack Frost"
   "Arctic" "Throwback" "Cyber Attack" "Original" "Winters Grasp"
   "Mandarin" "Evergreen" "Orchid" "Hack the System" "Clearwater"
   "Hype Beast" "Fresh Paint"},
 "Bloodhound"
 #{"Protector of the Patch" "Young Blood" "Fiber Optics"
   "Wandering Warrior" "Limelight" "Master of the Hunt" "Cyber Hunt"
   "The Intimidator" "Neural Net" "Raven's Shadow" "Tropic Streak"
   "The Centurion" "Lucky Charm" "Glowing Viral" "Gilded Claw"
   "Midnight" "Royal Guard" "Rage" "Roughneck" "Heat Sync" "Deep Blue"
   "Falling Sky" "Life Cycle" "Solstice" "Road Warrior" "Hydro"
   "Tight Rope" "Warlord" "Radiant Stalker" "Sizzle Reel"
   "Hunter’s Moon" "Arctic Hunter" "Polished" "Green Screen" "Code Red"
   "Sunsetter" "Cardinal" "Scales of Justice" "Vino" "Yellowjacket"
   "Great Winter" "The Plague Doctor" "Bloodline" "Hunter's Moon"
   "Wicked Harvest" "Flamingo" "Sahara" "Imperial Warrior" "Skyward"
   "Woodland Warfare" "Snakeskin" "Arctic" "Original" "The Runekeeper"
   "Checkered Past" "Will of the Allfather" "Mandarin" "Dangerous Game"
   "Evergreen" "Wise Warrior" "Orchid" "Timberland" "Hack the System"
   "Tartan Fleece" "Clearwater"},
 "Octane"
 #{"Vicious Cycle" "Ornamental Nature" "Jade Tiger" "Fiber Optics"
   "Limelight" "First String" "Exo-Weave" "Extreme Measures"
   "The Victory Lap" "XL-R8" "Neural Net" "Running Fatigues"
   "Head Trip" "Prowess" "White Lightning" "Messenger" "Midnight"
   "Rage" "Gold Rush" "Heat Sync" "El Tigre" "Arachnoid Rush"
   "Fast Fashion" "Daemon Hunter" "Hydro" "Wildfire" "Hit and Run"
   "Glacial Pace" "Tie Dye" "Clocktane" "Volcanic" "Cardinal" "Vino"
   "Yellowjacket" "El Diablo" "Sonic Boom" "Racing Stripes"
   "Hot Pursuit" "Circuit Breaker" "Bloodline" "Holeshot Hotshot"
   "Burn Out" "Flamingo" "Dasher" "Sahara" "Skyward" "Snakeskin"
   "Arctic" "Critical Path" "Peel Out" "Original" "Laughing Fool"
   "Surplus Acceleration" "Red Shift" "Wicked Intent" "Mandarin"
   "Evergreen" "Whiplash" "Orchid" "Speed Demon" "Electric Synapse"
   "Hack the System" "Clearwater"}}
