{"Revenant"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Silence: Silence Kills" "Damage Done"
   "Season 7 Wins" "Revives" "Season 1 Kills" "LMG Kills"
   "Sniper Kills" "Death Totem: Death Totem Activations"
   "Winning Kills" "Silence: Enemies Silenced" "Wins" "Season 3 Wins"
   "Season 6 Kills" "Kills" "Season 7 Kills" "Season 8 Wins"
   "Season 1 Damage Done" "Headshots" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Games Played"},
 "Lifeline"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done"
   "Droppod: Items for Squadmates" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "D.O.C. Drone: Healing"
   "Winning Kills" "Wins" "Season 3 Wins" "Season 6 Kills"
   "Revive Shield: Damage Blocked" "Kills" "Season 7 Kills"
   "Season 8 Wins" "Season 1 Damage Done" "Headshots" "Season 5 Kills"
   "Finishers" "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Games Played"},
 "Caustic"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done"
   "NOX: Gassed Enemies Killed" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "Winning Kills"
   "Season 3 Wins" "Gas Trap: Times Activated" "Season 6 Kills" "Kills"
   "NOX: Gas Damage Dealt" "Season 7 Kills" "Season 8 Wins"
   "Season 1 Damage Done" "Headshots" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Games Played"},
 "Gibraltar"
 #{"Dome: Damage Blocked" "Shotgun Kills" "Gun Shield: Damage Blocked"
   "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "Winning Kills" "Wins"
   "Season 3 Wins" "Season 6 Kills" "Kills" "Season 7 Kills"
   "Season 8 Wins" "Season 1 Damage Done" "Headshots" "Season 5 Kills"
   "Finishers" "Season 6 Wins" "Season 5 Wins" "Bombardment: Kills"
   "Times Placed Top 3" "Care Package Weapon Kills" "SMG Kills"
   "Games Played"},
 "Fuse"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "Grenades: Throw Distance" "AR Kills" "Damage Done"
   "Season 7 Wins" "Revives" "Season 1 Kills" "LMG Kills"
   "Sniper Kills" "Winning Kills" "Season 3 Wins" "Season 6 Kills"
   "Motherlode: Trapped Enemies" "Kills" "Season 7 Kills"
   "Season 8 Wins" "Season 1 Damage Done" "Headshots" "Season 5 Kills"
   "Finishers" "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Cluster: Targets Hit"
   "Games Played"},
 "Rampart"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Wall: Damage Blocked" "Season 1 Kills" "LMG Kills" "Sniper Kills"
   "Winning Kills" "Wins" "Season 3 Wins" "Season 6 Kills" "Kills"
   "Season 7 Kills" "Wall: Bullets Amped" "Season 8 Wins"
   "Season 1 Damage Done" "Turret: Bullets Fired" "Headshots"
   "Season 5 Kills" "Finishers" "Season 6 Wins" "Season 5 Wins"
   "Times Placed Top 3" "Care Package Weapon Kills" "SMG Kills"
   "Games Played"},
 "Pathfinder"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "Winning Kills" "Wins"
   "Season 3 Wins" "Season 6 Kills" "Kills" "Survey: Beacons Scanned"
   "Season 7 Kills" "Zipline: Times Used By Squad" "Season 8 Wins"
   "Season 1 Damage Done" "Headshots" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Grapple: Travel Distance"
   "Games Played"},
 "Wraith"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "Winning Kills" "Wins"
   "Season 3 Wins" "Season 6 Kills" "Kills" "Season 7 Kills"
   "Season 8 Wins" "Season 1 Damage Done" "Headshots" "Season 5 Kills"
   "Finishers" "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "Rifts: Squadmates Phased" "SMG Kills"
   "Into the Void: Time" "Games Played" "Voices: Warnings Heard"},
 "Mirage"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Season 1 Kills" "Encore: Executions Escaped" "LMG Kills"
   "Sniper Kills" "Winning Kills" "Wins" "Season 3 Wins"
   "Season 6 Kills" "Kills" "Season 7 Kills" "Season 8 Wins"
   "Season 1 Damage Done" "Headshots" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Decoys Created" "Bamboozles"
   "Times Placed Top 3" "Care Package Weapon Kills" "SMG Kills"
   "Games Played"},
 "Bangalore"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Smoke Grenade: Enemies Hit"
   "Wins with Full Squad Alive" "Double Time: Distance" "Season 2 Wins"
   "AR Kills" "Damage Done" "Season 7 Wins" "Revives" "Season 1 Kills"
   "LMG Kills" "Sniper Kills" "Winning Kills" "Wins" "Season 3 Wins"
   "Season 6 Kills" "Kills" "Season 7 Kills" "Season 8 Wins"
   "Season 1 Damage Done" "Headshots" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Creeping Barrage: Damage"
   "Games Played"},
 "Wattson"
 #{"Shotgun Kills" "Season 4 Wins" "Enemy Ordnance Intercepted"
   "Season 1 Wins" "Season 8 Kills" "Kills as Kill Leader"
   "Pistol Kills" "Wins with Full Squad Alive" "Season 2 Wins"
   "AR Kills" "Damage Done" "Season 7 Wins" "Revives" "Season 1 Kills"
   "LMG Kills" "Sniper Kills" "Winning Kills" "Wins" "Season 3 Wins"
   "Season 6 Kills" "Kills" "Season 7 Kills" "Season 8 Wins"
   "Season 1 Damage Done" "Breaches Detected" "Headshots"
   "Season 5 Kills" "Finishers" "Season 6 Wins" "Season 5 Wins"
   "Times Placed Top 3" "Care Package Weapon Kills" "SMG Kills"
   "Friendly Shields Charged" "Games Played"},
 "Loba"
 #{"Shotgun Kills" "Meters Teleported" "Season 4 Wins" "Season 1 Wins"
   "Season 8 Kills" "Kills as Kill Leader" "Pistol Kills"
   "Wins with Full Squad Alive" "Season 2 Wins" "AR Kills"
   "Damage Done" "Season 7 Wins" "Revives" "Season 1 Kills" "LMG Kills"
   "Sniper Kills" "Winning Kills" "Wins" "Season 3 Wins"
   "Season 6 Kills" "Loot Pinged Through Walls" "Kills"
   "Season 7 Kills" "Season 8 Wins" "Season 1 Damage Done" "Headshots"
   "Season 5 Kills" "Finishers" "Season 6 Wins" "Season 5 Wins"
   "Times Placed Top 3" "Loot Taken By Allies"
   "Care Package Weapon Kills" "SMG Kills" "Games Played"},
 "Horizon"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "Winning Kills"
   "Season 3 Wins" "Season 6 Kills" "Kills" "Season 7 Kills"
   "Season 8 Wins" "Black Hole: Damage Done to Victims"
   "Season 1 Damage Done" "Spacewalk: Hard Impacts Avoided" "Headshots"
   "Season 5 Kills" "Finishers" "Season 6 Wins" "Season 5 Wins"
   "Gravity Lift: Teammates Lifted" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Games Played"},
 "Crypto"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Drone EMP: Shield Damage"
   "Season 7 Wins" "Revives" "Neurolink: Enemies Scanned"
   "Season 1 Kills" "LMG Kills" "Drone EMP: Devices Hit" "Sniper Kills"
   "Winning Kills" "Season 3 Wins" "Season 6 Kills" "Kills"
   "Season 7 Kills" "Season 8 Wins" "Season 1 Damage Done" "Headshots"
   "Season 5 Kills" "Finishers" "Season 6 Wins" "Season 5 Wins"
   "Times Placed Top 3" "Care Package Weapon Kills" "SMG Kills"
   "Games Played"},
 "Bloodhound"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Kills as Kill Leader" "Pistol Kills" "Wins with Full Squad Alive"
   "Season 2 Wins" "AR Kills" "Damage Done" "Season 7 Wins" "Revives"
   "Season 1 Kills" "LMG Kills" "Sniper Kills" "Winning Kills" "Wins"
   "Season 3 Wins" "Season 6 Kills" "Kills" "Beast of the Hunt: Kills"
   "Season 7 Kills" "Eye: Enemies Scanned" "Season 8 Wins"
   "Season 1 Damage Done" "Headshots" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "Eye: Traps Scanned" "SMG Kills"
   "Games Played"},
 "Octane"
 #{"Shotgun Kills" "Season 4 Wins" "Season 1 Wins" "Season 8 Kills"
   "Stim Distance Traveled" "Kills as Kill Leader" "Pistol Kills"
   "Wins with Full Squad Alive" "Season 2 Wins" "AR Kills"
   "Damage Done" "Season 7 Wins" "Revives" "Season 1 Kills"
   "Passive Health Regenerated" "LMG Kills" "Sniper Kills"
   "Winning Kills" "Wins" "Season 3 Wins" "Season 6 Kills" "Kills"
   "Season 7 Kills" "Season 8 Wins" "Season 1 Damage Done" "Headshots"
   "Jump Pad Allies Launched" "Season 5 Kills" "Finishers"
   "Season 6 Wins" "Season 5 Wins" "Times Placed Top 3"
   "Care Package Weapon Kills" "SMG Kills" "Games Played"}}
